parameters:
    level: 5
    paths:
        - ./
    excludes_analyse:
        - cache/
        - build/
        - vendor/

    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 20
        minimumNumberOfJobsPerProcess: 2
